{% if is_granted(buttonGroup.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if route_granted(app.request.attributes.get('_route'), buttonGroup.pages ?? []) %}
        {# YOU CAN HAVE BUTTONGROUP OR BUTTONS, NOT BOTH #}
        {% if buttonGroup.buttons is defined and buttonGroup.buttons %}
            <div class="{{ buttonGroup.class ?? 'btn-group' }}" role="group">
                {% for button in buttonGroup.buttons %}
                    {% include('@TangoManFront/button.html.twig') %}
                    {% if not loop.last %}&nbsp;{% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% for button in buttonGroup %}
                {% include('@TangoManFront/button.html.twig') %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endif %}