{% if is_granted(menu.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if route_granted(app.request.attributes.get('_route'), menu.pages ?? []) %}
        <nav
                {% if menu.id is defined and menu.id %}
                    id="{{ menu.id }}"
                {% endif %}
                class="{% if menu.class is defined and menu.class %}{{ menu.class }}{% else %}navbar navbar-default{% endif %}">
            <ul class="nav nav-pills nav-stacked">
                {% for item in menu.items %}
                    {% if is_granted(item.subMenu.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                        {% if route_granted(app.request.attributes.get('_route'), item.pages ?? []) %}
                            {% if item.divider is defined and item.divider %}
                                <li class="nav-divider" role="separator"></li>
                            {% else %}
                                {% if item.active is defined %}
                                <li{% if app.request.attributes.get('_route') starts with item.active %} class="active"{% endif %}>
                                {% else %}
                                    <li>
                                {% endif %}
                                {% include('@TangoManFront/link.html.twig') with { 'link': item } %}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endif %}