{% if is_granted(menu.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
    {% if route_granted(app.request.attributes.get('_route'), menu.pages ?? []) %}
        <div{% if menu.id is defined and menu.id %} id="{{ menu.id }}"{% endif %}
                class="{{ menu.class ?? 'tango-tabs' }}">
            <ul class="nav nav-tabs">
                {% for item in menu.items %}
                    {% if is_granted(item.item.roles ?? ['IS_AUTHENTICATED_ANONYMOUSLY']) %}
                        {% if route_granted(app.request.attributes.get('_route'), item.pages ?? []) %}
                            {% if item.active is defined %}
                            <li{% if app.request.attributes.get('_route') ends with item.active %} class="active"{% endif %}>
                            {% else %}
                                <li>
                            {% endif %}
                            {% include('@TangoManFront/link.html.twig') with { 'link': item } %}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}